.DS_Store
.pytest_cache/
.pycache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

venv/
build/
dist/

*.dmg
*.app/

/.idea/
/.vscode/

.env
.env.*

/.mypy_cache/
/.ruff_cache/

/.coverage
htmlcov/

/.eggs/
*.egg-info/

/.qt_for_python/

